nav.navbar.navbar-default {
  margin-bottom: 0;
}
.navbar{
  background-color: #155d74 !important
}
.nav-item{
  text-align: right;
  /* display: flex; */
}
.navbar-brand, .nav-link {
  color:  rgb(226,226,226)!important
}

.nav-link {
  letter-spacing: 3px;
}